        /* logo */
        .skin-blue .main-header .logo {
                              background-color: CornflowerBlue;
                              }

        /* logo when hovered */
        .skin-blue .main-header .logo:hover {
                              background-color: Azure;
                              }

        /* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: black;
                              }        

        /* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #f4b943;
                              }

        /* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #f4b943;
                              }

        /* other links in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #f4b943;
                              color: #000000;
                              }

        /* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #f4b943;
                              }
        /* toggle button when hovered  */                    
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #f4b943;
                              }